 .u-section-1 {
  background-image: url("images/df-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 638px;
}

.u-section-1 .u-group-1 {
  width: 800px;
  min-height: 200px;
  height: auto;
  margin: 298px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 0 13px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 403px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 302px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-left: 37px;
    margin-right: 37px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 60.62% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 190px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
  }
}.u-block-61b9-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-61b9-3 {
  position: absolute;
  left: 0;
}

.u-block-61b9-4 {
  position: absolute;
  right: 0;
}

.u-section-2-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 60px auto 0;
}

.u-section-2-1 .u-text-2 {
  margin: 40px 59px 0;
}

.u-section-2-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-2-1 .u-text-1 {
    font-size: 2.25rem;
  }
}